    <header>
        <nav class="nav">
          <ul class="nav__list">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/about/">About</a></li>
            <!-- example another page needed-->
            <!--
            <li><a href="/about/">Projects</a></li> -->
          </ul>
        </nav>
    </header>