--- 
title: About 
layout: 'base.njk'
---

<hr>
      <p class="intro">Hi. I'm Chi. I am a bookkeeper, a data science student, and foremost, a learner on her way to seeking knowledge and 
        experimenting with truths. I love to explore and write about data science, education, culture, and being a better human.
        This is where I record that learning journey and share it to the world.
        
       </p>

      
