--- 
title: About 
layout: 'base.njk'
---

      <div class="info">
      <img class="profile-img" src="/assets/images/crop/circle crop.png" alt="Profile Picture">
      <p class="intro">Hi. I'm Chi. I am data science student, and foremost, a learner on her way to seeking knowledge and 
        experimenting with truths. This is where I record that learning journey and share it to the world.
       </p>
       </div>

      
